parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
    # BC layer
    - '#Call to function method_exists\(\).*getRootNode. will always evaluate to false\.#'
