on:
  push:
    tags:
      - 'v*'

name: Create Release and Upload Release Asset

jobs:
  build:
    name: Create Release and Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: json
          ini-values: memory_limit=-1
          tools: composer

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-progress --ansi
      
      - name: Download box.phar
        run: wget -O box.phar https://github.com/humbug/box/releases/download/4.5.1/box.phar
      
      - name: Compile project
        run: php ./box.phar compile

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          body: ''
          draft: false
          prerelease: false
          files: schema.phar
